<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!-- 헤더 네비게이션 -->
    <header th:fragment="navbar" class="header">
        <nav class="navbar">
            <div class="nav-container">
                <!-- 로고 영역 -->
                <div class="nav-logo">
                    <a th:href="@{/}" class="logo-link">
                        <h1>Diary App</h1>
                    </a>
                </div>
                
                <!-- 네비게이션 메뉴 -->
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a th:href="@{/}" class="nav-link">홈</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/diary}" class="nav-link">일기/달력</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/about}" class="nav-link">리포트</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/about}" class="nav-link">마이페이지</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/chat}" class="nav-link">채팅</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/pointshop}" class="nav-link">포인트샵</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html> 